section.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(230, 0, 18);
    padding: 3.9vw 1.4vh;
}

section.topbar .logo>svg {
    vertical-align: top;
    width: 34.3vw;
    height: 3.4vh;
}

section.topbar .download {
    color: #fff;
    display: inline-block; 
    font-size: 3.6vw;
    padding: 1vw 1vh;
    line-height: 2.7vh;
    position: relative;
}
section.topbar .download::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 200%;
    height: 200%;
    border-radius: 50px;
    border: 1px solid #fff;
    transform: scale(0.5);
    transform-origin:0 0; 
}

section.gloableTab{

}
section.gloableTab .tabs{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
section.gloableTab .tabs li{
   /* background: red; */
}
section.gloableTab .tabs .active{
    background: red;
}

section.playlists {}

section.song {}

section.art {}

.tab-contents>li{
    display: none;
}
.tab-contents>li.active{
    display: block;
}