.cover {
    position: relative;
    height: 100vh;
}

.cover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background: url('../img/beautiful.jpg') no-repeat;
    background-size: cover;
    opacity: 0.65;
    filter: blur(1px) brightness(1);
}

.disk {
    padding-top: 70px;
}

.disk .circle {
    position: relative;
    width: 248px;
    height: 248px;
    margin: 0 auto;
    position: relative;
}

.disk .circle::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/disc-ip6.png') no-repeat;
    background-size: contain;
}

@media screen and (min-width:360px) {
    .disk .circle {
        width: 296px;
        height: 296px;
    }
}

@media screen and (min-width:414px) {
    .disk .circle {
        width: 342px;
        height: 342px;
    }
}

.disk .circle .img-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('../img/beautiful.jpg') no-repeat center;
    background-size: cover;
    transform: scale(0.75)
}

.disk .circle .img-wrap.img-play{
    animation: img-play 12s linear infinite;
}
.disk .circle .img-wrap.img-play.pause{
    animation-play-state: paused;
}
@keyframes img-play {
    from {
        -webkit-transform: scale(0.75) rotate(0deg);
    }
    to {
        -webkit-transform: scale(0.75) rotate(360deg);
    }
}
