*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}
ul{list-style: none;}
body{
    /* min-width: 768px; */
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 17px;
    color: #333;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
