header {
    border-bottom: 1px solid #ccc;
    height: 56px;
    line-height: 56px;
    /* padding: 20px 0; */
}

header::after {
    content: " ";
    display: block;
    clear: both;
}

header .logo>img {
    height: 56px;
    width: 100px;
    float: left;
}

header .navbar {
    float: left;
    position: relative;
}

header .navbar a {
    display: block;
    line-height: 56px;
    padding: 0 15px;
}

header .navbar .active a {
    color: #E47660;
}

header .navbar .active a:hover {
    background: none;
}

header .navbar>li {
    float: left;
    margin: 0 8px;
    position: relative;
}

header .navbar a:hover {
    background: rgb(238, 238, 238)
}

header .navbar .tip {
    position: absolute;
    background: #E47660;
    color: #fff;
    line-height: 1;
    top: 10px;
    right: 0px;
    border-radius: 6px;
    font-weight: bold
}

header .navbar .child {
    position: absolute;
    width: 100px;
    box-shadow: 0 2 rgba(0, 0, 0, 0.3);
    background: #ccc;
    display: none;
}

header .navbar>li:hover .child {
    display: block;
}

/* header-search */

header .search {
    float: left;
    position: relative;
    margin-left: 60px;
}

header .search form .border {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

header .search input {
    line-height: 36px;
    border: none;
    outline: none;
    border-radius: 18px;
    background: #ccc;
    font-size: 16px;
    padding: 0 25px;
    position: relative;
    width: 200px;
    transition: all .3s;
}

header .search input:focus {
    width: 300px;
}

header .search .icon-search {
    position: absolute;
    top: 12px;
    right: 6px;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

header .search input:focus~.icon-search {
    background: tan;
}

header .search .search-panel {
    margin-top: 5px;
    width: 240px;
    border-radius: 8px;
    box-shadow: -0px -0px 8px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    display: none;
    z-index: 100;
    background: #fff;
}

header .search .search-panel::before {
    content: " ";
    display: block;
    /* border: 18px solid rgb(85, 23, 23);
    border-right: 18px solid transparent;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;
    position: absolute;
    top: -38px;
    left: 6px; */
    width: 16px;
    height: 16px;
    position: absolute;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
    transform: rotateZ(45deg);
    top: -8px;
    left: 15px;
    background: #fff;
}

header .search input:focus~.search-panel {
    display: block;
}

header .search .search-panel h3 {
    padding: 0 16px;
    font-size: 18px;
    line-height: 2.5;
    font-weight: normal;
}

header .search .search-panel .icon-refresh {
    font-size: 10px;
}

header .search .search-panel .change {
    float: right;
    font-size: 10px;
    margin-top: 10px;
}

header .search .search-panel .labels {
    /* border: 1px solid red; */
    line-height: 1;
    font-size: 12px;
}

header .search .search-panel .labels a {
    display: inline-block;
    border: 1px solid #ccc;
    /* padding: 2px; */
    border-radius: 5px;
    line-height: 1;
    margin: 6px;
}

/* header extra */

header .extra {
    /* border: 1px solid red; */
    float: right;
}

header .extra .user .userinfo {
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
}

header .extra .user .userinfo:hover {
    background: #ccc;
}

header .extra .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid darkcyan;
    position: relative;
    vertical-align: middle;
}

header .extra .user .icon-down {
    position: absolute;
    right: -2px;
    font-size: 10px;
    vertical-align: middle;
}

header .extra .icon-changeword {
    font-size: 26px;
    float: left;
    vertical-align: middle;
}

header .extra .action-write {
    background: red;
    padding: 8px;
    border-radius: 8px;
    float: left;
    line-height: 1;
    margin-top: 10px;
}

header .extra .user {
    float: left;
    margin: 0 30px;
}

header .extra .user .child {
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.3);
    line-height: 1;
    display: none;
}

header .extra .user:hover .child {
    display: block;
}

header .extra .user .userinfo:hover~.child {
    display: block;
}

header .extra .user .child a {
    display: block;
    padding: 10px;
}

header .extra .user .child a:hover {
    background: #eee;
}

/* main 轮播 */

.carousel {
    position: relative;
    width: 630px;
    height: 250px;
    overflow: hidden;
    border: 1px solid red;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    float: left;
}

.carousel .carousel-dot {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

.carousel .carousel-dot span {
    padding: 4px 8px;
    color: red;
    border-radius: 50%;
    cursor: pointer;
}

.carousel .carousel-dot span:nth-of-type(1) {
    background: red;
    color: #fff;
}

.carousel-arrow {
    position: absolute;
    /* top: calc(50%-28px); */
    top:calc(50% - 28px);
    background: red;
    cursor: pointer;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    display: none;  
}
.carousel-arrow:hover{
    background: rgba(0,0,0,0.5);
}

.carousel .carousel-arrow-left {
    left: 0;
}

.carousel .carousel-arrow-right {
    right: 0;
}
.carousel .carousel-dot span:hover{
    background: red;
    color: #fff;
}
.carousel:hover .carousel-arrow{
    display: block;
}