.header{
    border: 1px solid black;
}
.header .topNavBar .logo{
    border: 1px solid hotpink;
    float: left;
}
.header nav ul{
    float: right;
    border: 1px solid red;
}
.header nav ul li{
    border: 1px solid red;
    float: left;
}
.header nav ul li a{
    font-size: 13px;
}