.header{
    position: relative;
}
.header .topNavBar .logo{
    font-family: "Arial Black";
    float: left;
    margin: 10px 20px;
}
.header .topNavBar .logo .rs{
    color: #E6686E;
    font-size: 30px;
    font-weight: bold;
    margin: 0 2px;
}
.header .topNavBar .logo .card{
    color:#B1B4B7;
    font-size: 25px;
    font-weight: bold;
}
.header .topNavBar>nav{
    float: right;
    margin:4px 20px 0  20px;
}
.header .topNavBar>nav>ul li{
    float: left;
    margin: 20px 10px;
}
.header .topNavBar>nav>ul li a{
    display: block;
    color: #B1B4B7;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 0;
    border-bottom: 3px solid transparent;
}
.header .topNavBar>nav>ul li a:hover{
    border-bottom: 3px solid #E6686E;
}
.banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    background: url(../img/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.85;
}
.banner::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2F3943;
    opacity: 0.6;
}
/* main */
.main {

}
.basic-info{
    
}
.main .basic-info .top {
    position: relative;
}
.main .basic-info .top .pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 320px;
}
.main .basic-info .top .pic img{
    width: 100%;
    height: 100%;
}
.main .basic-info .top .text{
    position: absolute;
    top: 0;
    right: 0;
}